div,
section,
article,
img,
p,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


img {
	width: 100%;
}


/* Header */


/* ??? flex over inline-block or float and why */
/* flex chosen over minor style preferences, esp.
   .my-name class text centering at small screen sizes
 */
header {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}


/* keeps the total height for my-name and logo
   the same, to align img with text
 */
.logo {
	margin: 10px;
}


.logo-img {
	height: 55px;
	width: 55px;
}


.my-name {
	text-align: center;
	margin: 5px;
}


h1 {
	color: #747704;
	font-weight: 100;
	font-size: 2.5em;
}


h4 {
	color: #747704;
	font-weight: 400;
}


/* overrides the bootstrap default */
hr {
	margin: 0 0 10px;
	border-top: 3px solid #afb224;
}


/* Main contents */

.work-heading {
	margin: 15px 5px 5px;
}


h3 {
	color: #afb224;
	font-weight: normal;
	font-size: 1.5em;
}


/* the portfolio gallery */

.folio {
	margin-bottom: 20px;
	position: relative;
}


.folio-img {
	border: 1px solid #afb224;
}


.folio-description {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.folio-name {
	margin-top: 20%;
	text-align: center;
}


h2 {
	color: #40abff;
	font-weight: 700;
	font-size: 2em;
}

/* spacing for the links */
.folio-link {
	width: 80%;
	margin: auto;
	text-align: center;
}


/* classes toggled by Jquery mouse events */

.active {
	display: block;
}


.dim {
	opacity: 0.2;
	z-index: -2;
}


/* break-word take effect on display sizes
   just above 768 px.
 */
a,
a:focus {
	word-wrap:break-word;
	font-weight: 500;
	font-size: 0.7em;
	color: #40abff;
}


a:focus {
	font-size: 1em;
}

/* Media query for larger screen sizes */

@media (min-width: 768px) {
	.logo-img {
		width: 85px;
		height: 85px;
	}


	.my-name {
		text-align: right;
	}


	hr {
		margin-bottom: 20px;
	}
}
