h4 {
	padding: 0;
	margin: 0;
}

.main {
    text-align: center;
    background-color: #333;
}

.dashboard {
	font-family: arial;
	background-color: #eee; 
    height: 90px;
}

.score,
.lives,
#boy,
#pink-girl {
	display: inline-block; 
}

.score,
.lives {
	vertical-align: 30px;
	margin-right: 20px;
	font-size: 24px;
	padding: 10px;
	width: 150px;
	border-radius: 5px;
}

.score {
	background-color: #E0F7FA;
}

.lives {
	background-color: #FFF59D;
}

#boy,
#pink-girl {
	height: 100%;
}

.canvas {
	margin-top: -23px
}