div,
section,
article,
figure,
figcaption,
img,
p,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


img {
	width: 100%;
}


/* Header */


/* ??? flex over inline-block or float and why? */
header {
	display: flex;
	justify-content: space-between;
}


/* this keeps the total height for my-name and logo
   the same, to align img with text
*/
.logo {
	margin: 10px;
}


.logo-img {
	height: 55px;
	width: 55px;
}


.my-name {
	text-align: center;
	margin: 5px;
}


h1 {
	color: #747704;
	font-weight: 100;
	font-size: 2.5em;
}


h4 {
	color: #747704;
	font-weight: 400;
}


/* overriding the bootstrap default */
hr {
	margin: 0 0 10px;
	border-top: 3px solid #eee;
	color: #747704;
}


/* Main sections */

.work-heading {
	margin: 15px 5px 5px;
}


h3 {
	color: #bcbbbb;
	font-weight: normal;
	font-size: 1.5em;
}


.img-outline {
	border: 1px solid #eee;
}


figure {
	margin-bottom: 20px;
}


figcaption {
	text-align: center;
	color: #747704;
	font-weight: 500;
	font-size: 1.5em;
}


.project-link {
	width: 80%;
	margin: auto;
	text-align: center;
}


/* break-word effects display sizes
   slightly above 768 px.
*/
a {
	word-wrap:break-word;
	font-size: 0.7em;
	color: #747704;
	text-decoration: none;
}


/* Media query for lager screen sizes */

@media (min-width: 768px) {
	.logo-img {
		width: 85px;
		height: 85px;
	}


	.my-name {
		text-align: right;
	}


	hr {
		margin-bottom: 20px;
	}
}


